:root {
    --bg: 30 30 46;
    --bg_h: 24 24 37;
    --bg0: 17 17 27;
    --bg2: 49 50 68;
    --fg: 186 194 222;
    --fg2: 205 214 244;
    --primary: 203 166 247;
    --blue: 137 180 250;
    --sky: 137 220 235;
}
