:root {
    --bg: 19 19 23;
    --bg_h: 24 24 28;
    --bg0: 0 0 4;
    --bg2: 38 38 42;
    --fg: 185 185 185;
    --fg2: 255 255 255;
    --primary: 80 80 255;
    --outl1: 85 85 85;
    --outl2: 65 65 65;
}
