:root {
    --bg: 232 241 247;
    --bg_h: 255 255 255;
    --bg0: 200 200 200;
    --bg2: 255 255 255;
    --fg: 50 50 50;
    --fg2: 20 20 20;
    --primary: 100 100 100;
    --outl1: 172 172 172;
    --outl2: 215 215 215;
}
